

.loading_mask_16x16 {
    background-image: url("../themes/images/icon/16x16/loading-mask.gif") !important;
}

.users3_32x32 {
    background-image: url("../themes/images/icon/32x32/users3.png") !important;
}

.users_into_16x16 {
    background-image: url("../themes/images/icon/16x16/users_into.png") !important;
}

.users_into_32x32 {
    background-image: url("../themes/images/icon/32x32/users_into.png") !important;
}

.user1_add_32x32 {
    background-image: url("../themes/images/icon/32x32/user1_add.png") !important;
}

.user1_add_16x16 {
    background-image: url("../themes/images/icon/16x16/user1_add.png") !important;
}

.user1_delete_32x32 {
    background-image: url("../themes/images/icon/32x32/user1_delete.png") !important;
}

.user1_delete_16x16 {
    background-image: url("../themes/images/icon/16x16/user1_delete.png") !important;
}

.check_32x32 {
    background-image: url("../themes/images/icon/32x32/check.png") !important;
}

.line-chart_32x32 {
    background-image: url("../themes/images/icon/32x32/line-chart.png") !important;
}

.line-chart_16x16 {
    background-image: url("../themes/images/icon/16x16/line-chart.png") !important;
}

.home_32x32 {
    background-image: url("../themes/images/icon/32x32/house.png") !important;
}

.home_24x24 {
    background-image: url("../themes/images/icon/24x24/house.png") !important;
}

.information_32x32 {
    background-image: url("../themes/images/icon/32x32/information.png") !important;
}

.information_16x16 {
    background-image: url("../themes/images/icon/16x16/icon-info.gif") !important;
}

.warning_32x32 {
    background-image: url("../themes/images/icon/32x32/warning.png") !important;
}

.warning_16x16 {
    background-image: url("../themes/images/icon/16x16/warning.png") !important;
}

.user_update_32x32 {
    background-image: url("../themes/images/icon/32x32/user_update.png") !important;
}

.user_update_24x24 {
    background-image: url("../themes/images/icon/24x24/user1_refresh.png") !important;
}

.user_update_16x16 {
    background-image: url("../themes/images/icon/16x16/user1_refresh.png") !important;
}

.payment_32x32 {
    background-image: url("../themes/images/icon/32x32/money2.png") !important;
}

.payment_16x16 {
    background-image: url("../themes/images/icon/16x16/money2.png") !important;
}

.cabinet_32x32 {
    background-image: url("../themes/images/icon/32x32/cabinet.png") !important;
}

.cabinet_24x24 {
    background-image: url("../themes/images/icon/24x24/cabinet.png") !important;
}

.pdf_16x16 {
    background-image: url("../themes/images/icon/16x16/pdf.png") !important;
}

.pdf_32x32 {
    background-image: url("../themes/images/icon/32x32/pdf.png") !important;
}

.pdf_48x48 {
    background-image: url("../themes/images/icon/48x48/pdf.png") !important;
}

.word_32x32 {
    background-image: url("../themes/images/icon/32x32/word.png") !important;
}

.word_16x16 {
    background-image: url("../themes/images/icon/16x16/word.png") !important;
}

.odt_32x32 {
    background-image: url("../themes/images/icon/32x32/odt.png") !important;
}

.odt_16x16 {
    background-image: url("../themes/images/icon/16x16/odt.png") !important;
}

.csv_32x32 {
    background-image: url("../themes/images/icon/32x32/csv.png") !important;
}

.column_preferences_32x32 {
    background-image: url("../themes/images/icon/32x32/column_preferences.png") !important;
}


.star_32x32 {
    background-image: url("../themes/images/icon/32x32/star_yellow.png") !important;
}

.money_envelope_32x32 {
    background-image: url("../themes/images/icon/32x32/money_envelope.png") !important;
}

.id_card_add_32x32 {
    background-image: url("../themes/images/icon/32x32/id_card_add.png") !important;
}

.id_card_payment_32x32 {
    background-image: url("../themes/images/icon/32x32/id_card_payment.png") !important;
}

.id_card_payment_24x24 {
    background-image: url("../themes/images/icon/24x24/id_card_payment.png") !important;
}

.id_card_32x32 {
    background-image: url("../themes/images/icon/32x32/id_card.png") !important;
}

.id_card_16x16 {
    background-image: url("../themes/images/icon/16x16/id_card.png") !important;
}

.date-time_32x32 {
    background-image: url("../themes/images/icon/32x32/date-time.png") !important;
}

.users_32x32 {
    background-image: url("../themes/images/icon/32x32/users.png") !important;
}

.users_16x16 {
    background-image: url("../themes/images/icon/16x16/users1.png") !important;
}

.houses_32x32 {
    background-image: url("../themes/images/icon/32x32/houses.png") !important;
}

.occupation_32x32 {
    background-image: url("../themes/images/icon/32x32/occupation.png") !important;
}

.phone_32x32 {
    background-image: url("../themes/images/icon/32x32/phone.png") !important;
}

.login_32x32 {
    background-image: url("../themes/images/icon/32x32/key1.png") !important;
}

.login_24x24 {
    background-image: url("../themes/images/icon/24x24/key1.png") !important;
}

.confirm_32x32 {
    background-image: url("../themes/images/icon/32x32/confirm.png") !important;
}

.abstract_submission_32x32 {
    background-image: url("../themes/images/icon/32x32/note_new.png") !important;
}

.abstract_32x32 {
    background-image: url("../themes/images/icon/32x32/note.png") !important;
}

.abstract_24x24 {
    background-image: url("../themes/images/icon/24x24/note.png") !important;
}

.note_edit_32x32 {
    background-image: url("../themes/images/icon/32x32/note_edit.png") !important;
}

.note_view_32x32 {
    background-image: url("../themes/images/icon/32x32/note_view.png") !important;
}

.garbage_32x32 {
    background-image: url("../themes/images/icon/32x32/garbage.png") !important;
}

.shoppingcart_full_32x32 {
    background-image: url("../themes/images/icon/32x32/shoppingcart_full.png") !important;
}

.empty_16x16 {
    background-image: url("../themes/images/icon/16x16/empty.png") !important;
}

.star_16x16 {
    background-image: url("../themes/images/icon/16x16/star_yellow.png") !important;
}

.true_16x16 {
    background-image: url("../themes/images/icon/16x16/true.png") !important;
}

.false_16x16 {
    background-image: url("../themes/images/icon/16x16/false.png") !important;
}

.true_32x32 {
    background-image: url("../themes/images/icon/32x32/check2.png") !important;
}

.false_32x32 {
    background-image: url("../themes/images/icon/32x32/delete2.png") !important;
}

.save_16x16 {
    background-image: url("../themes/images/icon/16x16/save.png") !important;
}

.candle_16x16 {
    background-image: url("../themes/images/icon/16x16/candle.png") !important;
}

.close_16x16 {
    background-image: url("../themes/images/icon/16x16/close.png") !important;
}

.save_32x32 {
    background-image: url("../themes/images/icon/32x32/save.png") !important;
}

.delete_16x16 {
    background-image: url("../themes/images/icon/16x16/delete.png") !important;
}

.submit_16x16 {
    background-image: url("../themes/images/icon/16x16/submitAbstract.png") !important;
}

.find_next_16x16 {
    background-image: url("../themes/images/icon/16x16/find_next.png") !important;
}

.find_previous_16x16 {
    background-image: url("../themes/images/icon/16x16/find_previous.png") !important;
}

.submit_32x32 {
    background-image: url("../themes/images/icon/32x32/document_out.png") !important;
}

.document_delete_32x32 {
    background-image: url("../themes/images/icon/32x32/document_delete.png") !important;
}

.document_delete_16x16 {
    background-image: url("../themes/images/icon/16x16/document_delete.png") !important;
}

.link_32x32 {
    background-image: url("../themes/images/icon/32x32/link.png") !important;
}

.address_book_32x32 {
    background-image: url("../themes/images/icon/32x32/address_book.png") !important;
}

.address_book_24x24 {
    background-image: url("../themes/images/icon/24x24/address_book.png") !important;
}

.address_book_16x16 {
    background-image: url("../themes/images/icon/16x16/address_book.png") !important;
}

.author_100x100 {
    background-image: url("../themes/images/icon/100x100/writer_male_light_100.png") !important;
}

.author_50x50 {
    background-image: url("../themes/images/icon/100x100/writer_male_light_50.png") !important;
}

.author_dark_50x50 {
    background-image: url("../themes/images/icon/100x100/writer_male_dark_50.png") !important;
}

.paper_100x100 {
    background-image: url("../themes/images/icon/100x100/sheet_100.png") !important;
}

.keywords_references_100x103 {
    background-image: url("../themes/images/icon/100x100/keyword_references_100.png") !important;
}

.abstract_created_48x48 {
    background-image: url("../themes/images/icon/48x48/document_dirty.png") !important;
}

.abstract_submitted_48x48 {
    background-image: url("../themes/images/icon/48x48/document_check.png") !important;
}

.help_32x32 {
    background-image: url("../themes/images/icon/32x32/help.png") !important;
}

.help_24x24 {
    background-image: url("../themes/images/icon/24x24/help.png") !important;
}

.help_16x16 {
    background-image: url("../themes/images/icon/16x16/help.png") !important;
}

.help_48x48 {
    background-image: url("../themes/images/icon/48x48/help.png") !important;
    width: 48px !important;
    height: 48px !important;
}

.bill_32x32 {
    background-image: url("../themes/images/icon/32x32/cashier.png") !important;
}

.pay_32x32 {
    background-image: url("../themes/images/icon/32x32/currency_euro.png") !important;
}

.export_32x32 {
    background-image: url("../themes/images/icon/32x32/data_out.png") !important;
}

.refresh_32x32 {
    background-image: url("../themes/images/icon/32x32/refresh.png") !important;
}

.photo_scenery_32x32 {
    background-image: url("../themes/images/icon/32x32/photo_scenery.png") !important;
}

.photo_scenery_16x16 {
    background-image: url("../themes/images/icon/16x16/photo_scenery.png") !important;
}

.next_32x32 {
    background-image: url("../themes/images/icon/32x32/arrow_right_green.png") !important;
}

.back_32x32 {
    background-image: url("../themes/images/icon/32x32/arrow_left_green.png") !important;
}

.up_32x32 {
    background-image: url("../themes/images/icon/32x32/arrow_up_green.png") !important;
}

.down_32x32 {
    background-image: url("../themes/images/icon/32x32/arrow_down_green.png") !important;
}

.mail_exchange_32x32 {
    background-image: url("../themes/images/icon/32x32/mail_exchange.png") !important;
}

.confirm_code_32x32 {
    background-image: url("../themes/images/icon/32x32/mail_lock.png") !important;
}

.note_find_32x32 {
    background-image: url("../themes/images/icon/32x32/note_find.png") !important;
}

.note_pinned_32x32 {
    background-image: url("../themes/images/icon/32x32/note_pinned.png") !important;
}

.add_32x32 {
    background-image: url("../themes/images/icon/32x32/add.png") !important;
}

.delete_32x32 {
    background-image: url("../themes/images/icon/32x32/delete.png") !important;
}

.pay_now_button {
    background-image: url("../themes/images/paypal/horizontal_solution_PPeCheck.gif") !important;
}

.female_24x24 {
    background-image: url("../themes/images/icon/24x24/female.png") !important;
}

.male_24x24 {
    background-image: url("../themes/images/icon/24x24/male.png") !important;
}

.female_16x16 {
    background-image: url("../themes/images/icon/16x16/female.png") !important;
}

.male_16x16 {
    background-image: url("../themes/images/icon/16x16/male.png") !important;
}

.de_flag_16x11 {
    background-image: url("../themes/images/flags/de.gif") !important;
}

.en_flag_16x11 {
    background-image: url("../themes/images/flags/gb.gif") !important;
}

